.yunKeTang {
    width: 100%;
    min-width: 1200px;
    height: 1500px;
    /* background-color: cadetblue; */
    box-sizing: border-box;
}
body {
    background-color:#f2f2f2 ;
}
/* 头部 */
.header {
    width: 100%;
    height: auto;
    background-color: white;
}
header {
    width: 1200px;
    height:81px;
    margin:0 auto;
    /* background-color: white; */
}
.header_search {
    height: 1200px;
    height: 81px;
    /* background-color: crimson; */
    position: relative;
    box-sizing: border-box;
    padding-top: 17px;
    padding-bottom: 3px;
}
.header_search img{
    float: left;
    width: 179px;
    height: 55px;
    /* margin-top: 44px; */
    line-height: 106px;
}
.header_text {
    width: 400px;
    height: 38px;
    
    /* background-color: darkblue; */
    
    /* border: 1px solid black; */
    float: left;
    /* margin-top: 48px; */
    position: absolute;
    left: 60%;
    transform: translateX(-50%);
    border-radius: 15px;
    vertical-align: top;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.header_text input {
    width: 317px;
    height: 38px;
    float: left;
    margin-bottom: 0;
    text-align: inherit;
    display: table-cell;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    outline-color: green;
}

.header_text span{
    float: left;;
    width: 80px;
    height: 38px;
    background-color:rgb(0, 207, 140); ;
    margin-left: -2px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.header_text span button {
    width: 100%;
    height: 38px;
    background: rgb(0, 207, 140);
    color: white;
    line-height: 38px;
    font-size: 16px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-sizing: border-box;
}
.header_login {
    width: 170px;
    height: 81px;
    float: right;
    /* background-color: green; */
    margin-right: 100px;
}
.header_login .loging{
    float: left;
    /* margin-top: 40px; */
    height: 32px;
    border-left: 1px solid gray;
    box-sizing: border-box;
    padding-left: 10px;
    line-height: 32px;
    font-size: 14px;
    color: black;
    margin-left: 10px;
}
.header_login span img{
    width: 32px;
    height: 32px;
    margin-left: 10px;
}
.header_nav  ul{
    height: 30px;
}
.header_nav  ul li {
    width: 82px;
    height: 24px;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
    line-height: 24px;
    margin-top: 16px;
}
.header_nav  ul li:hover a{
    color: rgb(0, 207, 140);
}
.header_nav  ul li:hover .header_cc {
    display: block;
}
.header_nav  ul li:hover ol a{
    color:black
}
.header_bb {
    display: block;
    position: relative;
}
.header_cc {
    position: absolute;
    display: none;
    width: 120px;
    box-sizing: border-box;
    padding-left: 6px;
    height: 180px;
    background-color: whitesmoke;
}
.header_cc li {
    width: 120px;
    height: 30px;
    line-height: 30px;
}
.header_cc li:hover {
    width:100%;
    background-color: rgb(0, 207, 140);;
    color: tomato;
}
/* 中间主体 */
main {
    width: 100%;
    height: auto;
}
.main_T {
    width: 1200px;
    margin: auto;
    height: 30px;
    font-size: 16px;
    padding: 10px 0 15px;
    padding-left: 5px;
}
.main_T span a {
    color:rgba(0,0,0,.45);
    font-size: 14px;
}
.main_T span a:hover {
    color: rgb(0, 207, 140);
}
.main_M {
    width: 1200px;
    height: auto;
    /* padding: 20px 27px; */
    background-color: white;
    box-sizing: border-box;
    margin: 0 auto;
}
.main_MM {
    width: 100%;
    height: auto;
    /* background-color: violet; */
    box-sizing: border-box;
    padding: 20px 27px 27px 27px;
}
.main_MM_neirong {
    width: 500px;
    height: 220px;
    background-color: violet;
    margin-left: 35px;
}
.main_MM_neirong li {
    list-style: none;
}