.yunKeTang {
    width: 100%;
    min-width: 1200px;
    height: 1000px;
    background-color: cadetblue;
    box-sizing: border-box;
}
header {
    width: 1200px;
    height: 136px;
    margin:0 auto;
    background-color: chocolate;

}
.header_search {
    height: 1200px;
    height: 106px;
    background-color: crimson;
}
.header_search img{
    float: left;
    margin-top: 44px;
}