.yunKeTang {
    width: 100%;
    min-width: 1200px;
    height: auto;
    /* background-color: cadetblue; */
    box-sizing: border-box;
}
body {
    background-color:white ;
}
/* 头部 */
.header {
    width: 100%;
    height: auto;
    background-color: white;
}
header {
    width: 1200px;
    height:81px;
    margin:0 auto;
    /* background-color: white; */
}
.header_search {
    height: 1200px;
    height: 81px;
    /* background-color: crimson; */
    position: relative;
    box-sizing: border-box;
    padding-top: 17px;
    padding-bottom: 3px;
}
.header_search img{
    float: left;
    width: 179px;
    height: 55px;
    /* margin-top: 44px; */
    line-height: 106px;
}
.header_text {
    width: 400px;
    height: 38px;
    
    /* background-color: darkblue; */
    
    /* border: 1px solid black; */
    float: left;
    /* margin-top: 48px; */
    position: absolute;
    left: 60%;
    transform: translateX(-50%);
    border-radius: 15px;
    vertical-align: top;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.header_text input {
    width: 317px;
    height: 38px;
    float: left;
    margin-bottom: 0;
    text-align: inherit;
    display: table-cell;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    outline-color: green;
}

.header_text span{
    float: left;;
    width: 80px;
    height: 38px;
    background-color:rgb(0, 207, 140); ;
    margin-left: -2px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.header_text span button {
    width: 100%;
    height: 38px;
    background: rgb(0, 207, 140);
    color: white;
    line-height: 38px;
    font-size: 16px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-sizing: border-box;
}
.header_login {
    width: 170px;
    height: 81px;
    float: right;
    /* background-color: green; */
    margin-right: 100px;
}
.header_login .loging{
    float: left;
    /* margin-top: 40px; */
    height: 32px;
    border-left: 1px solid gray;
    box-sizing: border-box;
    padding-left: 10px;
    line-height: 32px;
    font-size: 14px;
    color: black;
    margin-left: 10px;
}
.header_login span img{
    width: 32px;
    height: 32px;
    margin-left: 10px;
}
.header_nav  ul{
    width: 280px;
    height: 30px;
}
.header_nav  ul li {
    width: 90px;
    height: 24px;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
    line-height: 24px;
    margin-top: 16px;
}
.header_nav  ul li:hover a{
    color: rgb(0, 207, 140);
}
.header_nav  ul li:hover .header_cc {
    display: block;
}
.header_nav  ul li:hover ol a{
    color:black
}
.header_bb {
    display: block;
    position: relative;
}
.header_cc {
    position: absolute;
    display: none;
    width: 120px;
    box-sizing: border-box;
    padding-left: 6px;
    height: auto;
    background-color: whitesmoke;
}
.header_cc li {
    width: 120px;
    height: 30px;
    line-height: 30px;
    z-index: 9;
}
.header_cc li:hover {
    width:100%;
    background-color: rgb(0, 207, 140);;
    color: tomato;
    z-index: 9;
}

.mid {
    min-width: 1200px;
    /* padding-bottom: 40px; */
    /* background-color: #f4f4f4; */
    border-top: 1px solid #f2f2f2;
}

/* 中间主体*/
.mid .top {
    width: 100%;
    padding: 10px 0px 15px;
    background-color: #fff;
}

.mid .top a {
    color: rgba(0, 0, 0, .45);
}

.mid .top a:hover {
    color: #23db9b;
}

.mid.top .string {
    color: rgba(0, 0, 0, .45);
    margin: 0 3px;
}

/* 专题 */
.midBox {
    margin-bottom: 2px;
}
.subject {
    padding: 10px;
    background: #f4f4f4;
}
.subject h3 {
    float: left;
    line-height: 30px;
    color: rgba(0,0,0,.5);
    font-size: 17px;
    margin: 0;
}
.subject > div {
    margin-left: 50px;
}
.subject > div>span{
    display: inline-block;
    min-width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0 6px;
    padding: 0 5px;
}
.subject span:hover{
    cursor: pointer;
}
.subject > div>.active{
    color: #fff;
    background: #00cf8c;
}





/* 课程 */

.curriculum {
    width: 1200px;
    margin: 0 auto;
    padding: 0 7px;
    /* min-height: 70px; */
}
.curriculum .courseBox {
    margin-bottom: 20px;
}
.courseBox >p{
    /* border: 1px solid red; */
    height: 135px;
    font-size: 24px;
    color: #ccc;
    font-weight: 200;
    padding-left: 10px;
    margin: 20px 0;
}
.curriculum .courseBox li {
    width: 20%;
    float: left;
    margin-top: 14px;
    padding: 0 8px;
}
@media only screen and (max-width:414px) {
    .curriculum .courseBox li {
        width: 50%;
        float: left;
        margin-top: 14px;
        padding: 0 8px;
    }
}

.courseBox li .imgBox {
    width: 100%;
    height: 134.05px;
    overflow: hidden;
}


.courseBox li .imgBox>img {
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.courseBox li .imgBox>img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.courseBox li a {
    font-weight: 500;
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}

.courseBox li .bt {
    width: 100%;
    font-size: 14px;
    color: #000;
    margin-bottom: 0;
    white-space: nowrap;

    text-overflow: ellipsis;
    overflow: hidden;
}

.courseBox li del {
    color: #999;
    font-size: 12px;
}

.courseBox li .course {
    color: #888;
    margin-bottom: 0;
    margin-top: 3px;
    /* padding: 0; */
}

/* 免费 */
.courseBox li .free {
    color: #00cf8c;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 3px;
    display: inline-block;

}

/* 收费 */
.courseBox li .charge {
    font-size: 16px;
    color: #f00;
    margin-bottom: 0;
    margin-top: 3px;
    display: inline-block;
}

/* 限时聚会 */
.courseBox li .xsjh {
    display: inline-block;
    color: #fa8c16;
    background-color: #fff7e6;
    height: 22px;
    border: 1px solid #ffd591;
    padding: 0 7px;
    font-size: 12px;
    line-height: 22px;
    margin-right: 8px;
}



.courseBox .imgBox .img1 {
    height: 132px;
}

@media only screen and (max-width:414px) {
    .courseBox .imgBox .img1 {
        height: 115px;
    }
}






/* 分页 */
.paging {
    margin: 0 0 20px;
    text-align: center;
}
.paging li{
    border: 1px solid #ddd;
    /* float: left; */
    display: inline-block;
    margin-right: 8px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.paging li:last-child{
    margin-right: 0px;
}

.paging .liColor a {
    color: rgba(0, 0, 0, .25);
    font-weight: 400;
}
.paging a {
    color: rgba(0, 0, 0, .65);
}
.paging li:hover {
    cursor: pointer;
    border-color: #00cf8c;
}
.paging .asdasd{
    cursor: pointer;
    border-color: #00cf8c;
}
.paging li:hover a {
    color: #00cf8c;
}



.not-click {
    pointer-events: none;
}








/* 方式 */
.mian_way {
    margin: auto;
    margin: 2px 0;
    padding: 10px;
    height: auto;
    background: #f4f4f4;
    box-sizing: border-box;
}
.mian_way>h3 {
    float: left;
    line-height: 30px;
    color: rgba(0,0,0,.5);
    box-sizing: border-box;
    font-weight: 500;
    display: block;
    font-size: 1.17em;
/*     margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
}
.mian_way>div{
    margin-left: 50px;
    box-sizing: border-box;
}
.active {
    color: #fff;
    background: #00cf8c;
}
.mian_way span {
    display: inline-block;
    min-width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0 6px;
    padding: 0 5px;
    box-sizing: border-box;
}
.mian_way span:hover {
    cursor: pointer;
}
